*{
	padding: 0;
	margin: 0;
}

table{
	margin: 30px;
}
table th{
	background-color: #000;
	color: #fff;
}
table tr:nth-of-type(even){
    background-color: #fff;
}

table tr:nth-of-type(odd){
	background-color: #ccc;
}
/*
table tr:nth-child(2n-1){
	background-color: #ccc;
}
 */
tr:nth-child(2),tr:nth-child(3),tr:nth-child(4){
	color: red;
}
input{
	margin-left: 30px;
	border-style: none;
	border: 1px solid red;
	width: 120px;
    transition:width 1s;
    -webkit-transition:width 1s;
} 

input:focus{
	width:200px;
}

div.main{
	height: 150px;
	width: 300px;
	margin:40px;
    position: relative;
    overflow: hidden;

  
	
}
ul{
	display: block;
	width: 900px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition:left 2s;
	-webkit-transition:left 2s;
}
li{
	list-style: none;
	float: left;
	height: 150px;
	width: 300px;
}
#blue{
	background-color: blue;
	
	
	
}
#red{
	background-color: red;

}
#green{
	background-color: green;

}

div.sz{
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1000;
}
div.sz a{
	text-decoration: none;
	display: inline-block;
	margin-left: 10px;
	color: #fff;
	font-weight: bold;
	font-size: "黑体";
	background:rgba(255,255,255,0.5);
	width: 30px;
	height: 25px;
	text-align: center;

}
a{
	text-decoration: none;
	color: #fff;
}

#ul1:target~#ull{
    left: 0;
}
#ul2:target~#ull{
	left: -300px;
	
}

#ul3:target~#ull{
	left: -600px;
}
